<section>
  <div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Voir les demandes">

        <table class="styled-table">
          <thead>
          <tr>
            <th>Demande N°</th>
            <th>Machine</th>
            <th>Rendez-vous</th>
            <th>Durée de la réservation</th>
            <th>Produits</th>
            <th>Statut</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let demande of demandesUser">
            <td>{{ demande.id }}</td>
            <td>{{ demande.machine }}</td>
            <td>{{ demande.rendezVous ? demande.rendezVous.dateDebut+"---"+demande.rendezVous.dateFin : 'Pas encore de rendez-vous' }}</td>
            <td>{{ demande.duree | hoursMinutes }}</td>
            <td>
              <ul>
                <li *ngFor="let produit of demande.produits">{{ produit.libele }}</li>
              </ul>
            </td>
            <td *ngIf="demande.rendezVous">
              <p class="status Assigned">Assginé</p>
            </td>
            <td *ngIf="!demande.rendezVous">
              <p class="status waiting">En attente</p>
            </td>
          </tr>
          </tbody>
        </table>

      </p-tabPanel>
      <p-tabPanel header="Faire une demande">
<!--        <p>-->
<!--          faire formulaire de post pour la demande-->
<!--        </p>-->
          <p-messages [(value)]="messages" [enableService]="false" [closable]="true">

          </p-messages>
        <form [formGroup]="entityForm" (ngSubmit)="addForm()">
          <div class="form-group">
            <label for="produitIds">Produits:</label>
            <select name="produitIds" id="produitIds" formControlName="produitIds" class="form-control" multiple>
              <option value="{{ produit.id }}" *ngFor="let produit of produitsList">{{ produit.libele }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="duree">Durée:</label>
            <input type="number" min="0" id="duree" formControlName="duree" class="form-control">
          </div>



          <div class="form-group">
            <label for="machine">Machine:</label>
            <select formControlName="machine" id="machine">
              <option *ngFor="let machine of Object.values(Machine)" value="{{machine}}">{{ machine }}</option>
            </select>

          </div>

          <button type="submit" [disabled]="entityForm.invalid">Enregistrer</button>
        </form>

      </p-tabPanel>
      <p-tabPanel header="Voir les rendez-vous">
        <table class="styled-table">
          <thead>
          <tr>
            <th>Demande N°</th>
            <th>Machine</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Assigné par</th>
            <th>Salle</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rendezVousSingle of rendezvous">
            <td>{{ rendezVousSingle.demande.id }}</td>
            <td>{{ rendezVousSingle.demande.machine }}</td>
            <td>{{ rendezVousSingle.dateDebut | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ rendezVousSingle.dateFin | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ rendezVousSingle.creePar}}</td>
            <td>Etage : {{ rendezVousSingle.salle.etage}} N°Salle : {{ rendezVousSingle.salle.numeroSalle}}</td>
            <!--            <td>-->
            <!--              <p-button label="Modifier" styleClass="p-button-warning"-->
            <!--                        (click)="toggleModificationScreenForLoadingDiv(demande)"></p-button>-->
            <!--            </td>-->
          </tr>
          </tbody>
        </table>
      </p-tabPanel>
    </p-tabView>
  </div>

</section>
