///* Ajoutez ces styles dans votre feuille de style CSS */
//section::before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-image: url("/assets/images/wp.jpg");
//  background-position: center;
//  filter: blur(10px); /* Appliquez le flou ici */
//  z-index: -1; /* Assurez-vous que le pseudo-élément est en arrière-plan */
//}
//section {
//  //display: flex;
//  //align-content: center;
//  //align-items: center;
//  //justify-content: center;
//  height: 95vh;
//  overflow-y: hidden;
//}
/* Style pour le tableau */
/* Style général de la section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.status{
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 25px;
}
.Assigned{
  background: green;
  color: white;
}
.waiting{
  background: orange;
}
/* Style de la carte (card) */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: #fff;
}

/* Style du p-tabMenu (onglets) */
p-tabMenu {
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Style du p-tabPanel (contenu des onglets) */
p-tabPanel {
  padding: 20px;

}

/* Style du tableau */
.styled-table {
  width: 1200px;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ccc;
  padding: 10px;
  background: rgba(113, 128, 147, 0.6); /* Couleur avec opacité de 0.6 */
}

.styled-table td:nth-child(even) {
  background: rgba(52, 152, 219, 0.6); /* Couleur avec opacité de 0.6 */
}

/* Style pour la liste de produits */
.styled-table ul {
  list-style: none;
  padding: 0;
  height: 60px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styled-table li {
  margin-bottom: 5px;
}

/* Style du formulaire */
form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="number"],
select,
button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
