/* Style de la section principale */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Style de la carte (card) */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  //width: 100%; /* Ajustez la largeur selon vos besoins */
  max-width: 1200px; /* Ajoutez une largeur maximale */
}

/* Style du p-tabMenu (onglets) */
p-tabMenu {
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Style du p-tabPanel (contenu des onglets) */
p-tabPanel {
  padding: 20px;
}

/* Style du tableau */
table.styled-table {
  width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

table.styled-table th,
table.styled-table td {
  border: 1px solid #ccc;
  padding: 10px;
  background: rgba(113, 128, 147, 0.6); /* Couleur avec opacité de 0.6 */
}

table.styled-table td:nth-child(even) {
  background: rgba(52, 152, 219, 0.6); /* Couleur avec opacité de 0.6 */
}

/* Style pour la liste de produits */
ul.styled-table {
  list-style: none;
  padding: 0;
  max-height: 200px; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Ajoutez une barre de défilement vertical si nécessaire */
}

ul.styled-table li {
  margin-bottom: 5px;
}

/* Style du formulaire */
form {
  margin-top: 20px;
  width: 100%; /* Ajustez la largeur selon vos besoins */
  max-width: 400px; /* Ajoutez une largeur maximale */
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
