<section>
  <div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Voir les produits">
        <table class="styled-table" *ngIf="produitsList">
          <thead>
          <tr>
<!--            <th>Produit N°</th>-->
            <th>Libelé</th>
            <th>Quantité</th>
            <th>Date d'expiration</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let produit of produitsList">
<!--            <td>{{ produit.id }}</td>-->
            <td>{{ produit.libele }}</td>
            <td>{{ produit.quantite}}</td>
            <td>{{ produit.dateExpiration | dateFormat}}</td>
            <td>
              <p-button label="Supprimer" styleClass="p-button-danger" (click)="deleteProduct(produit.id)"></p-button>
              <p-button label="Modifier" styleClass="p-button-warning" (click)="toggleModificationScreenForLoadingDiv(produit)"></p-button>
            </td>
          </tr>
          </tbody>
        </table>

      </p-tabPanel>

      <p-tabPanel header="Ajouter un produit">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true">

        </p-messages>
        <form [formGroup]="entityForm" (ngSubmit)="addForm()">

          <div class="form-group">
            <label for="libele">Libelé:</label>
            <input type="text"  id="libele" formControlName="libele" class="form-control">
          </div>

          <div class="form-group">
            <label for="quantite">Quantité:</label>
            <input type="number" min="0" id="quantite" formControlName="quantite" class="form-control">
          </div>

          <div class="form-group">
            <label for="dateExpiration">Date d'expiration:</label>
            <input type="date" id="dateExpiration" formControlName="dateExpiration" class="form-control">
          </div>


          <button type="submit" [disabled]="entityForm.invalid">Enregistrer</button>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div *ngIf="toggleDivModification" id="mainContainer">
    <div>
      <h2>Modification produit</h2>

      <form [formGroup]="modificationForm" (ngSubmit)="modificationProduit()">
        <div class="form-group">
          <label for="libele2">Libelé:</label>
          <input type="text"  id="libele2" formControlName="libele" class="form-control">
        </div>

        <div class="form-group">
          <label for="quantite2">Quantité:</label>
          <input type="number" min="0" id="quantite2" formControlName="quantite" class="form-control">
        </div>

        <div class="form-group">
          <label for="dateExpiration2">Date d'expiration:</label>
          <input type="date" id="dateExpiration2" formControlName="dateExpiration" class="form-control">
        </div>


        <button type="submit" [disabled]="modificationForm.invalid">Enregistrer</button>
        <span class="cross" (click)="toggleModificationScreen()">❌</span>

      </form>
    </div>
  </div>
</section>
