<section>
  <div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Voir les salles">
        <input type="text" class="search" placeholder="Rechercher par nom de machine..." [(ngModel)]="searchTerm">
        <table class="styled-table" *ngIf="sallesList">
          <thead>
          <tr>
            <th>Etage</th>
            <th>Numéro de salle</th>
            <th>Machine</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let salle of filterSalle()">            <!--            <td>{{ produit.id }}</td>-->
            <td>{{ salle.etage }}</td>
            <td>{{ salle.numeroSalle}}</td>
            <td>{{ salle.machine}}</td>
            <td>
              <p-button label="Supprimer" styleClass="p-button-danger" (click)="deleteSalle(salle.id)"></p-button>
              <p-button label="Modifier" styleClass="p-button-warning" (click)="toggleModificationScreenForLoadingDiv(salle)"></p-button>
            </td>
          </tr>
          </tbody>
        </table>

      </p-tabPanel>

      <p-tabPanel header="Ajouter une salle">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true">

        </p-messages>
        <form [formGroup]="entityForm" (ngSubmit)="addForm()">

          <div class="form-group">
            <label for="etage">etage:</label>
            <input type="number"  min="0" id="etage" formControlName="etage" class="form-control">
          </div>
          <div class="form-group">
            <label for="numeroSalle">numéro de salle:</label>
            <input type="number" min="0" id="numeroSalle" formControlName="numeroSalle" class="form-control">
          </div>

          <div class="form-group">
            <label for="machine">Machine:</label>
            <select formControlName="machine" id="machine">
              <option *ngFor="let machine of Object.values(Machine)" value="{{machine}}">{{ machine }}</option>
            </select>

          </div>


          <button type="submit" [disabled]="entityForm.invalid">Enregistrer</button>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div *ngIf="toggleDivModification" id="mainContainer">
    <div>
      <h2>Modification salle</h2>

      <form [formGroup]="modificationForm" (ngSubmit)="modificationSalle()">

        <div class="form-group">
          <label for="etage3">etage:</label>
          <input type="number"  min="0" id="etage3" formControlName="etage" class="form-control">
        </div>
        <div class="form-group">
          <label for="numeroSalle3">numéro de salle:</label>
          <input type="number" min="0" id="numeroSalle3" formControlName="numeroSalle" class="form-control">
        </div>

        <div class="form-group">
          <label for="machine3">Machine:</label>
          <select formControlName="machine" id="machine3">
            <option *ngFor="let machine of Object.values(Machine)" value="{{machine}}">{{ machine }}</option>
          </select>

        </div>

        <span class="cross" (click)="toggleModificationScreen()">❌</span>

        <button type="submit" [disabled]="modificationForm.invalid">Enregistrer</button>
      </form>
  </div>
  </div>
</section>
